<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>
    <div>
      <p>Page generated at {{time}}</p>
    </div>
    <div>
      <p>{{question}}</p>
    </div>
  </body>
</html>
